<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= board || "defaullt" %></title>
  <script>
    const board = "<%= board %>";
    const id = "<%= id %>";
  </script>
  <script src="/board.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1 id="board"><%= board || "defaullt" %></h1>
  <input type="text" placeholder="title" id="title"></input>
  <input type="text" placeholder="content" id="content"></input>
  <button onClick="newThread()">Create a new post</button>
  <div class="thread-box"></div>
</body>
</html>