<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="column">
    <h3 style="text-decoration: underline; display: inline;">Japanese Culture</h3>
    <ul>
    <li><a href="./a/" class="boardlink">Anime &amp; Manga</a></li>
    <li><a href="./c/" class="boardlink">Anime/Cute</a></li>
    <li><a href="./w/" class="boardlink">Anime/Wallpapers</a></li>
    <li><a href="./m/" class="boardlink">Mecha</a></li>
    <li><a href="./cgl/" class="boardlink">Cosplay &amp; EGL</a></li>
    <li><a href="./cm/" class="boardlink">Cute/Male</a></li>
    <li><a href="./f/" class="boardlink">Flash</a></li>
    <li><a href="./n/" class="boardlink">Transportation</a></li>
    <li><a href="./jp/" class="boardlink">Otaku Culture</a></li>
    <li><a href="./vt/" class="boardlink">Virtual YouTubers</a></li>
    </ul>
    <h3 style="text-decoration: underline; display: inline;">Video Games</h3>
    <ul>
    <li><a href="./v/" class="boardlink">Video Games</a></li>
    <li><a href="./vg/" class="boardlink">Video Game Generals</a></li>
    <li><a href="./vm/" class="boardlink">Video Games/Multiplayer</a></li>
    <li><a href="./vmg/" class="boardlink">Video Games/Mobile</a></li>
    <li><a href="./vp/" class="boardlink">Pokémon</a></li>
    <li><a href="./vr/" class="boardlink">Retro Games</a></li>
    <li><a href="./vrpg/" class="boardlink">Video Games/RPG</a></li>
    <li><a href="./vst/" class="boardlink">Video Games/Strategy</a></li>
    </ul>
    </div>
    <div class="column">
    <h3 style="text-decoration: underline; display: inline;">Interests</h3>
    <ul>
    <li><a href="./co/" class="boardlink">Comics &amp; Cartoons</a></li>
    <li><a href="./g/" class="boardlink">Technology</a></li>
    <li><a href="./tv/" class="boardlink">Television &amp; Film</a></li>
    <li><a href="./k/" class="boardlink">Weapons</a></li>
    <li><a href="./o/" class="boardlink">Auto</a></li>
    <li><a href="./an/" class="boardlink">Animals &amp; Nature</a></li>
    <li><a href="./tg/" class="boardlink">Traditional Games</a></li>
    <li><a href="./sp/" class="boardlink">Sports</a></li>
    <li><a href="./xs/" class="boardlink">Extreme Sports</a></li>
    <li><a href="./pw/" class="boardlink">Professional Wrestling</a></li>
    <li><a href="./sci/" class="boardlink">Science &amp; Math</a></li>
    <li><a href="./his/" class="boardlink">History &amp; Humanities</a></li>
    <li><a href="./int/" class="boardlink">International</a></li>
    <li><a href="./out/" class="boardlink">Outdoors</a></li>
    <li><a href="./toy/" class="boardlink">Toys</a></li>
    </ul>
    </div>
    <div class="column">
    <h3 style="text-decoration: underline; display: inline;">Creative</h3>
    <ul>
    <li><a href="./i/" class="boardlink">Oekaki</a></li>
    <li><a href="./po/" class="boardlink">Papercraft &amp; Origami</a></li>
    <li><a href="./p/" class="boardlink">Photography</a></li>
    <li><a href="./ck/" class="boardlink">Food &amp; Cooking</a></li>
    <li><a href="./ic/" class="boardlink">Artwork/Critique</a></li>
    <li><a href="./wg/" class="boardlink">Wallpapers/General</a></li>
    <li><a href="./lit/" class="boardlink">Literature</a></li>
    <li><a href="./mu/" class="boardlink">Music</a></li>
    <li><a href="./fa/" class="boardlink">Fashion</a></li>
    <li><a href="./3/" class="boardlink">3DCG</a></li>
    <li><a href="./gd/" class="boardlink">Graphic Design</a></li>
    <li><a href="./diy/" class="boardlink">Do-It-Yourself</a></li>
    <li><a href="./wsg/" class="boardlink">Worksafe GIF</a></li>
    <li><a href="./qst/" class="boardlink">Quests</a></li>
    </ul>
    </div>
</body>
</html>